/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 7, 2024, 6:37:31 PM
    Author     : hhern
*/

/* Comentario */
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url('imagenes/im1.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
header {
    position: fixed;
    background-color: black;    
    top: 0;
    left: 0;
    height: 45px;
    width: 100%
}

header h1 {
      color: white; 
      font-size: 36px; /* Tamaño del texto, puedes ajustarlo según tus preferencias */
      text-align: center;
    }
    
h2 {
      color: darkred; 
      font-size: 30px; /* Tamaño del texto, puedes ajustarlo según tus preferencias */
      text-align: center;
      text-decoration: underline;
    }
aside {
    position: absolute;
    top: 150px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
}
section {
    overflow-y: scroll;
    position: fixed;
    background-color: gray;    
    top: 80px;
    left: 20%;
    bottom: 20px;
    width: 70%
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;        
    text-align: center;
    background-color: yellow;
    color: red;
}
a {
    text-decoration: none;
    background-color: green;
    color: white;
}
a:hover {
    background-color: black;
    color: white;
}
tbody tr:nth-child(odd) {
    background-color: blue;
    color: white
}
tbody tr:nth-child(even) {
    background-color: black;
    color: white
}
nav {
    background-color: #1a237e;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 165.3px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

header hr {
      margin-top: 10px; /* Espacio superior para separar del resto de los elementos */
      border: 0;
      border-top: 1px solid #ccc; /* Línea divisoria entre el encabezado y el contenido */
}

p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
    color: darkgreen;
}

iframe {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical del iframe según sea necesario */
    left: 50%; /* Ajusta la posición horizontal del iframe según sea necesario */
    transform: translate(-50%, -50%); /* Centra el iframe usando transformación CSS */
}

figure {
    position: relative;
    top: 50%; /* Ajusta esta propiedad según sea necesario */
    transform: translateY(-50%);
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

figcaption {
    position: absolute;
    bottom: 190px;
    left: 90%;
    transform: translateX(-50%);
    color: white; /* Color del texto del título */
    font-size: 30px; /* Tamaño del texto del título */
    font-weight: bold; /* Peso de la fuente del título */
    z-index: 1;
    width: 100%;
    text-align: left;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.texto-sobre-imagen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 24px;
}

div p{
    font-size: 40px;
}

.div-p{
    font-size: 30px;
    color: green;
}

.pag2 {
    background-image: url('imagenes/im2.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pag3 {
    background-image: url('imagenes/im3.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pag4 {
    background-image: url('imagenes/im4.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pag5 {
    background-image: url('imagenes/im5.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pag6 {
    background-image: url('imagenes/im6.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pag7 {
    background-image: url('imagenes/im7.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.pag8 {
    background-image: url('imagenes/im8.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.pag9 {
    background-image: url('imagenes/im9.jpg');   
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
    background-attachment: fixed;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cuadroder {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.cuadroizq {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.cuadrocen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.textoder {
    color: #333; /* Color del texto */
    font-size: 40px;
    font-weight: bold;
    color: green;
    text-decoration: underline;
}

.textoizq {
    color: #333; /* Color del texto */
    font-size: 40px;
    font-weight: bold;
    color: green;
    text-decoration: underline;
}

.textocen {
    color: #333; /* Color del texto */
    font-size: 40px;
    font-weight: bold;
    color: green;
    text-decoration: underline;
}

.cuadro-contacto {
    background-color: #fff; /* Color de fondo del cuadro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
    width: 300px;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.h2con{
    color: darkgreen; 
    font-size: 30px; /* Tamaño del texto, puedes ajustarlo según tus preferencias */
    text-align: center;
    text-decoration: underline;
}